
Header {
    background-size: cover;
    overflow: hidden;
    height: 100%;




}

body {
	background: #3573b0;
	font: 16px Comic, Arial, Sans-Serif; 
    color: rgb(6, 13, 96);
    line-height: 24px;

}

h3 {
    

}

h4 {
background-color: aqua;

}

h5 {
    background-color: aqua;
}

section {
    background-image: url("/lH3Vdb.jpeg");
    background-repeat: repeat;
    background-position: center center;


}

